# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Dataset files
data/raw/
data/processed/
data/splits/

# Model weights
models/
*.pth
*.pt

# Output files
outputs/predictions/
outputs/figures/
outputs/reports/

# Zip / archive files
*.zip
*.rar
*.7z

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
