# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Dataset
data/raw/
data/processed/
*.zip
*.rar
*.7z

# Models and weights
models/
*.pth
*.pt
*.onnx

# Outputs
outputs/
runs/
results/
logs/

# OS
.DS_Store
Thumbs.db
data/